<section class="home-section">
  <div class="container">

    <!-- HEADER -->
    <div class="d-flex justify-content-end mb-3">
      <button class="btn-logout" (click)="cerrarSesion()">
        Cerrar sesión
        <i class="fa-solid fa-right-from-bracket ms-2"></i>
      </button>
    </div>

    <h1 class="mb-2 fw-bold">Panel Administrador</h1>
    <p class="text-muted mb-4">
      Selecciona una opción para gestionar el sistema
    </p>

    <div class="row g-4">

      <!-- PREGUNTAS -->
      <div class="col-12 col-md-6">
        <div class="home-card" (click)="irPreguntas()">
          <div class="icon-circle bg-primary">
            <i class="fa-solid fa-question"></i>
          </div>

          <div>
            <h3 class="mb-1">Preguntas</h3>
            <p class="text-muted mb-0">
              Crear, editar y ver preguntas y respuestas
            </p>
          </div>

          <i class="fa-solid fa-chevron-right arrow"></i>
        </div>
      </div>

      <!-- USUARIOS -->
      <div class="col-12 col-md-6">
        <div class="home-card" (click)="irUsuarios()">
          <div class="icon-circle bg-success">
            <i class="fa-solid fa-users"></i>
          </div>

          <div>
            <h3 class="mb-1">Usuarios</h3>
            <p class="text-muted mb-0">
              Ver y gestionar usuarios registrados
            </p>
          </div>

          <i class="fa-solid fa-chevron-right arrow"></i>
        </div>
      </div>

    </div>

  </div>
</section>