<section class="vh-100 d-flex align-items-center">
  <div class="container">

    <!-- SPINNER -->
    <div class="overlay" *ngIf="cargando">
      <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">

        <p-card styleClass="user-form text-center">

          <ng-template pTemplate="header">
            <div class="w-100 text-center">
              <h3 class="m-0 fw-bold">Nueva contraseña</h3>
              <small>Ingresá tu nueva contraseña</small>
            </div>
          </ng-template>

          <!-- MENSAJES -->
          <div *ngIf="message" class="alert alert-success text-center mb-3">
            {{ message }}
          </div>

          <div *ngIf="errorMessage" class="alert alert-danger text-center mb-3">
            {{ errorMessage }}
          </div>

          <form [formGroup]="passwordForm" (ngSubmit)="cambiarPassword()" class="text-start">

            <!-- PASSWORD -->
            <div class="mb-2">
              <label class="labelForm">Contraseña</label>

              <p-password
                formControlName="password"
                [toggleMask]="true"
                [feedback]="false"
                styleClass="w-100"
                inputStyleClass="w-100">
              </p-password>

              <small class="text-danger"
                *ngIf="passwordForm.get('password')?.hasError('weakPassword') && passwordForm.get('password')?.touched">
                Mínimo 8 caracteres, una letra, un número y un carácter especial
              </small>
            </div>

            <!-- REPEAT PASSWORD -->
            <div class="mb-3">
              <label class="labelForm">Repetir contraseña</label>

              <p-password
                formControlName="repeatPassword"
                [toggleMask]="true"
                [feedback]="false"
                styleClass="w-100"
                inputStyleClass="w-100">
              </p-password>
            </div>

            <!-- ERROR MATCH -->
            <div *ngIf="passwordsNoCoinciden()" class="text-danger text-center">
              Las contraseñas no coinciden
            </div>

            <br>

            <button 
              type="submit"
              class="btn btn-primary w-100"
              [disabled]="passwordForm.invalid || cargando">
              Cambiar contraseña
            </button>

            <br><br>

            <div class="text-center">
              <a routerLink="/iniciar-sesion" class="link-secondary small">
                Volver a iniciar sesión
              </a>
            </div>

          </form>

        </p-card>

      </div>
    </div>

  </div>
</section>